<div id="book-page">
    <a href="/"></a>
    <div class="container">
        <a href="/books">Voltar</a>
        <h1>{{book.title}}</h1>
        <p>Este livro tem {{book.pageqty}} páginas</p>
        <div class="actions">
            <a href="/books/edit/{{book.id}}">Editar</a>
        </div>
    </div>
</div>