<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Task</title>
</head>
<body>
    <navbar id="navbar">
    <h2>ToDo Controller</h2>
        <ul>
            <li><a href="/tasks">Ver todas</a></li>
            <li><a href="/tasks/add">Criar</a></li>
        </ul>
    </navbar>
    <div class="container">
        
    {{{body}}}
    </div>
</body>
</html>